@import "../libs/variables";
@import "../libs/mixins";
//
.activities {
  box-shadow: -1.1px -31px 49px rgba(27, 27, 30, 0.2);
  .block {
    width: 100%;
    min-height: 280px;
    padding: 10px 40px;
  }
  figure {
    display: block;
    width: 100%;
    height: 280px;
    @include bg(center, center, cover);
  }
}