@mixin template {
  margin: 5px 0;
  border-radius: 3px;
  color: $color-white;
  font: 14px/40px sans-serif;
  text-align: center;
  min-height: 40px;
}
.container {
  background: #CDCDCD;
}
hr {
  margin: 40px 0;
}
.cell {
  @include template();
  background: green;
}
.level-2 {
  @include template();
  background: darkcyan;
}
.level-3 {
  @include template();
  background: indigo;
}