<div class="circle-slider">
	<div class="slider">
		<div class="slide">
			<div class="img-part" style="background-image: url('dist/images/forest.jpg');"></div>
			<div class="img-part" style="background-image: url('dist/images/forest.jpg');"></div>
			<div class="img-part" style="background-image: url('dist/images/forest.jpg');"></div>
			<div class="img-part" style="background-image: url('dist/images/forest.jpg');"></div>
			<div class="img-part" style="background-image: url('dist/images/forest.jpg');"></div>
		</div>
	</div>
</div>