<section>
	<h2>Section-1</h2>
	<div class="grid-1">
		<div class="col">
			<div class="demo">grid-1</div>
		</div>
	</div>
	<div class="grid-2">
		<div class="col">
			<div class="demo">grid-2</div>
		</div>
		<div class="col">
			<div class="demo">grid-2</div>
		</div>
	</div>
	<div class="grid-3">
		<div class="col">
			<div class="demo">grid-3</div>
		</div>
		<div class="col">
			<div class="demo">grid-3</div>
		</div>
		<div class="col">
			<div class="demo">grid-3</div>
		</div>
	</div>
	<div class="grid-4">
		<div class="col">
			<div class="demo">grid-4</div>
		</div>
		<div class="col">
			<div class="demo">grid-4</div>
		</div>
		<div class="col">
			<div class="demo">grid-4</div>
		</div>
		<div class="col">
			<div class="demo">grid-4</div>
		</div>
	</div>
	<div class="grid-5">
		<div class="col">
			<div class="demo">grid-5</div>
		</div>
		<div class="col">
			<div class="demo">grid-5</div>
		</div>
		<div class="col">
			<div class="demo">grid-5</div>
		</div>
		<div class="col">
			<div class="demo">grid-5</div>
		</div>
		<div class="col">
			<div class="demo">grid-5</div>
		</div>
	</div>
	<div class="grid-6">
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
		<div class="col">
			<div class="demo">grid-6</div>
		</div>
	</div>
	<div class="grid-7">
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
		<div class="col">
			<div class="demo">grid-7</div>
		</div>
	</div>
	<div class="grid-8">
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
		<div class="col">
			<div class="demo">grid-8</div>
		</div>
	</div>
	<div class="grid-9">
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
		<div class="col">
			<div class="demo">grid-9</div>
		</div>
	</div>
	<div class="grid-10">
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
		<div class="col">
			<div class="demo">grid-10</div>
		</div>
	</div>
	<div class="grid-11">
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
		<div class="col">
			<div class="demo">grid-11</div>
		</div>
	</div>
	<div class="grid-12">
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
		<div class="col">
			<div class="demo">grid-12</div>
		</div>
	</div>
</section>
<section>
	<h2>Section-2</h2>
	<div class="grid">
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
		<div class="col-12_sm-6_md-5_lg-4">
			<div class="demo">grid-3</div>
		</div>
	</div>
</section>
<section>
	<h2>Section-3</h2>
	<div class="grid">
		<div class="col-12"><div class="demo">col-12</div></div>
		<div class="col-11"><div class="demo">col-11</div></div><div class="col-1"><div class="demo">col-1</div></div>
		<div class="col-10"><div class="demo">col-10</div></div><div class="col-2"><div class="demo">col-2</div></div>
		<div class="col-9"><div class="demo">col-9</div></div><div class="col-3"><div class="demo">col-3</div></div>
		<div class="col-8"><div class="demo">col-8</div></div><div class="col-4"><div class="demo">col-4</div></div>
		<div class="col-7"><div class="demo">col-7</div></div><div class="col-5"><div class="demo">col-5</div></div>
		<div class="col-6"><div class="demo">col-6</div></div><div class="col-6"><div class="demo">col-6</div></div>
		<div class="col-5"><div class="demo">col-5</div></div><div class="col-7"><div class="demo">col-7</div></div>
		<div class="col-4"><div class="demo">col-4</div></div><div class="col-8"><div class="demo">col-8</div></div>
		<div class="col-3"><div class="demo">col-3</div></div><div class="col-9"><div class="demo">col-9</div></div>
		<div class="col-2"><div class="demo">col-2</div></div><div class="col-10"><div class="demo">col-10</div></div>
		<div class="col-1"><div class="demo">col-1</div></div><div class="col-11"><div class="demo">col-11</div></div>
	</div>
</section>
<section>
	<h2>Thumbs</h2>
	<div class="grid-center">
		<div class="col-8 grid-center">
			<div class="col-2"><div class="demo">thumb-1</div></div>
			<div class="col-2"><div class="demo">thumb-2</div></div>
			<div class="col-2"><div class="demo">thumb-3</div></div>
			<div class="col-2"><div class="demo">thumb-4</div></div>
		</div>
		<div class="col-8 grid-center">
			<div class="col-2"><div class="demo">thumb-5</div></div>
			<div class="col-2"><div class="demo">thumb-6</div></div>
			<div class="col-2"><div class="demo">thumb-7</div></div>
			<div class="col-2"><div class="demo">thumb-8</div></div>
		</div>
		<div class="col-8 grid-center">
			<div class="col-2"><div class="demo">thumb-9</div></div>
			<div class="col-2"><div class="demo">thumb-10</div></div>
			<div class="col-2"><div class="demo">thumb-11</div></div>
			<div class="col-2"><div class="demo">thumb-12</div></div>
		</div>
		<div class="col-8 grid-center">
			<div class="col-2"><div class="demo">thumb-13</div></div>
			<div class="col-2"><div class="demo">thumb-14</div></div>
			<div class="col-2"><div class="demo">thumb-15</div></div>
			<div class="col-2"><div class="demo">thumb-16</div></div>
		</div>
	</div>
</section>